# Basic revisions

## sorted()

In python, **sorted()** function returns an iterable element back as an ordered **list**.

For strings, its defualt effect is to sort alphabetically.

Remember that in python, **set only contains unique elements**, which suits the purpose of counting unique characters in a book nicely.

In [3]:
string = "cba"

sorted(string)

['a', 'b', 'c']

## set()

The **set()** function creates a set object from iterable elements. 

If the iterable happens to be a string, a set of the individual characters will be created.

Notice that set() will not alphabetically order the result, nor retain duplicates elements.

In [40]:
set("apple")

{'a', 'e', 'l', 'p'}

## zip()

The zip() function in python can combine 2 lists into a zip object. 

Elements from corresponding positions are then paired together. Hence this trick works when both lists are equal in length.

zip() can also work on other iterables than lists.

In [10]:
listA = [1, 2, 3]
listB = ["a", "b", "c"]

# Zip object
zipC = zip(listA, listB)
print(type(zipC))

<class 'zip'>

Zip objects can be displayed visibly after converting into a tuple.

In [11]:
tuple(zipC)

((1, 'a'), (2, 'b'), (3, 'c'))

### .items()

.items() method returns all key value pairs from dictionary.

In [51]:
coffeedict = {
    "mocha":2,
    "cappucino":3
}

# To return all the key values from dictionary.
coffeedict.items()

dict_items([('mocha', 2), ('cappucino', 3)])

## List comprehension

List comprehensions shortens the syntax for for loops. Its 2 common applications being:

 - Create a new list from existing list.
 - Create a sublist from existing lists, where elements satisfy a certain condition.

In [6]:
# classic for loop

squares = []

# Create a list of square numbers from a list of 1-5.
for number in range(1, 6):
    squares.append(number**2)

print(squares)

[1, 4, 9, 16, 25]

The syntax for list comprehension in python is the following:

<newList> = [ (expression) for <item> in <iterable> if >expression == True>]

In [10]:
# same for loop shortened by comprehension

square_numbers = [(number**2) for number in range(1, 6)]

print(square_numbers)

[1, 4, 9, 16, 25]

Comprehensions also provides a shorthand for adding a conditional to a for loop. Much like the 'WHERE' clause in SQL.

In [12]:
# For a list of numbers in the ranges of 1-10, compile a list of odd numbers only.

selection = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd = []

for number in selection:
    if number % 2 != 0:
        odd.append(number)

print(odd)

[1, 3, 5, 7, 9]

In [18]:
# Refactor the above code using list comprehension.

odd_numbers = [number for number in selection if number % 2 != 0]

print(odd)

[1, 3, 5, 7, 9]

In [19]:
lst1 = [44, 54, 64, 74, 104]

# Create list 2 by adding 6 to each element from list 1.

lst2 = []
for i in lst1:
    lst2.append(i + 6)

print(lst2)

[50, 60, 70, 80, 110]

In [21]:
# Refactor with comprehension

lstII = [ number + 6 for number in lst1]
print(lstII)

[50, 60, 70, 80, 110]

## Dictionary comprehension

Comprehension also works on dictionaries because they're iterables too. The 2 common applications are also:

 - Create a new dictionary from existing iterables.
 - Create a subset of a dictionary where elements meet existing conditions.

The syntax for creating a new dictionary from existing iterables is as follows.

newDict = { <newKey>:<new_value> for <item> in <iterable> }

The syntax for creating a subset of a existing dictionary, where elements meet existing conditions is as follows:

subDict = { <newkey>:<oldkey> for (key, value) in <dict>.items() if <conditions> }

Create a dictionary where the day of the week is the key, its recorded temperature is the value.

In [23]:
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

recotemp = [21, 22, 21, 19, 22]

In [25]:
# Using zip to create a tuple, then convert tuple into dictionary.

weektemp = zip(days, recotemp)

weektemp = dict(weektemp)

print(weektemp)

{'Monday': 21, 'Tuesday': 22, 'Wednesday': 21, 'Thursday': 19, 'Friday': 22}

In [27]:
# Refactor above into a single line of code with comprehensions

temp_of_week = { day:temp for (day,temp) in zip(days, recotemp) }

print(temp_of_week)

{'Monday': 21, 'Tuesday': 22, 'Wednesday': 21, 'Thursday': 19, 'Friday': 22}

There are 3 people in a room. Each person rolls a dice and gets a score between 1-6. Create a dictionary based on this.

In [47]:
from random import randint

people = ["Alice", "Bob", "Carole"]

assignment = {}
for person in people:
    # Remember that the last element is not excluded with randint function!
    assignment[person] = dice

print(assignment)

{'Alice': 6, 'Bob': 4, 'Carole': 1}

In [48]:
# Refactor the above using comprehension.

assign = { person:rd(1,6) for person in people }
print(assign)

{'Alice': 1, 'Bob': 2, 'Carole': 5}

There is a queue of people for a rollercoaster ride. The legal age limit for the ride is 15. Create a subset dictionary that excludes underaged people.

In [52]:
queue = {
    "Hannah":19,
    "Beth": 21,
    "Josh": 17,
    "Sam": 6,
    "Kyouko": 14
}

# classic for loop

legal_queue = {}
age_limit = 15

for key, value in queue.items():
    if value >= age_limit:
        legal_queue[key] = value

print(legal_queue)

{'Hannah': 19, 'Beth': 21, 'Josh': 17}

In [53]:
# Refactor with comprehension

legalQueue = { person:age for (person, age) in queue.items() if age >= 15 }
print(legalQueue)

{'Hannah': 19, 'Beth': 21, 'Josh': 17}

## Lambda functions

In python, functions can be defined without a name. These are known as anonymous functions.

Lambda functions are a type of anonymous functions that takes any number of parameters as input, but returns one output.

Unlike normal functions that displays results to screen, lambda functions only return a **function object**.

Instead of declaring a function with def, lambda functions are declared with lambda. Its syntax is:

lambda <parameters>: <expressiions for evaluating parameters>

An example is a function that displays Hello World several times.

In [17]:
#classic function
def displayrepeats(num):
    return "Hello, World! " * num

displayrepeats(3)

'Hello, World! Hello, World! Hello, World! '

In [21]:
#lambda function version
num = 3
print(lambda num: "Hello, World! " * num)
# will give a function object than actual result.

<function <lambda> at 0x7f63bc1d0d30>

To display the lambda function's results, encase both the entire function as well as its input arguments in parenthesis.

This makes lambda functions **IIFE** (Immediately invoked functions execution).

In [22]:
(lambda num: "Hello, World! " * num)(3)

'Hello, World! Hello, World! Hello, World! '

In [23]:
#classic function to add 3 numbers
def sumofthree(x, y, z):
    return x + y + z

sumofthree(7, 5, 9)

21

In [26]:
#lambda function equivalent

(lambda x, y, z: x + y + z)(7, 5, 9)

21

The syntax for lambda function with **if-else statements** is the following:

lambda <parameters>:<expressionA><if(condition) else (expresssionB)

If the number is even, say it's even. If the number is odd, say it's odd.

In [35]:
# classic function

def evenorodd(number):
    if number % 2 == 0:
        print("Even!")
    else:
        print("Odd!")

evenorodd(7)

Odd!

In [37]:
# lambda equivalent
lambda number: print("Even!") if(number % 2 ==0) else (print("Odd!"))

# lambda with output display
( lambda number: print("Even!") if(number % 2 ==0) else (print("Odd!")) ) (7)

Odd!

The **use case of lambda functions** is for short, simple functions needed temporarily without requiring re-use.

Hence use it when:

 - Defining a one-time function with a def function.
 - When defining a function inside 3 built-in functions: filter() and map().
 - Refactor a def function that doesn't have to be explicit to be readable.

Do not use it when:

 -  Defining a complex function that should be written in long form for readbility. (PEP8 Explicit better than implicit.)
 -  Defining a function with multiple elif statements and/or nesting.

## filter() with lambda

In python, filter() method selects elements from an iterable, based on whether a function evaluates them as true

Its syntax is:

filter(<function>, <iterable sequence>)

For the list, lst, filter the element that is even.

In [8]:
lst = [16, 43, 61, 32, 45, 77]

In [9]:
# classic function

def even(number):
    if number % 2 == 0:
        return True
    else:
        return False

# filter returns function object
# filter(even, lst)

result = list(filter(even, lst))

print(result)

[16, 32]

In [14]:
# lambda function

result = list( filter(lambda number: number % 2 == 0, lst) )

print(result)

[16, 32]

## map() with lambda

Mapping in python is a technique of processing each element in an iterable, without using a for loop. This is done with the map() function which has the syntax below:

map(<function>, <iterable>

Take the following list, transform each element into a lower case letter.

In [42]:
lst = ["H", "E", "L", "L", "O"]

In [50]:
# Using a for loop takes 10 lines

lowerlst = []

def transform(lst):
    for letter in lst:
        lowerlst.append(letter.lower())
    return lowerlst

transform(lst)

['h', 'e', 'l', 'l', 'o']

In [51]:
# Using map() results in a simpler function that only work on one letter but shorter code overall.
def lowercase(x):
    return x.lower()
    
lower = map(lowercase, lst)
print(list(lower))

['h', 'e', 'l', 'l', 'o']

In [53]:
# Even shorter code by using lambda function

lower = map(lambda x: x.lower(), lst)
print(list(lower))

['h', 'e', 'l', 'l', 'o']

Notice that map() will only return a function object, so to display the result, convert lower into a list.

Refactor the following code that multiply each item in a list by 10. Using a combination of map function and lambda.

In [57]:
lst = [3, 17, 19, 223, 53]

multiple_of_10 = []

def multiplyten():
    for i in lst:
        multiple_of_10.append(i * 10)
    return multiple_of_10

multiplyten()

[30, 170, 190, 2230, 530]

In [59]:
# Refactored code
multiten = map(lambda i: i*10, lst)
print(list(multiten))

[30, 170, 190, 2230, 530]

## enumerate()

An incrementing counter can be used to track the index of iterations in a for loop.

For example, the following for loop calculates cubes from 1 to 10, a counter shows the corresponding element indices to the outputs.

In [75]:
counter = 0
for i in range(1, 11):
    cube = i ** 3
    print(counter, "|", cube)
    counter += 1

0 | 1
1 | 8
2 | 27
3 | 64
4 | 125
5 | 216
6 | 343
7 | 512
8 | 729
9 | 1000

However, a counter can be added with the built-in function, enumerate() instead.

enumerate() returns a function object, which can be processed in loops or displayed as a tuple after converting the object into a list.

The syntax for enumerate() is as follows:

enumerate(<iterable>, start=<n>)

n is 0 by default.

In [78]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#enumerate function object
lstobj = enumerate(lst)

# enumerate returns a function object
print(type(lstobj))

# Convert enumerate function object to list so that it displays as tuple.
list(lstobj)

<class 'enumerate'>

[(0, 1),
 (1, 2),
 (2, 3),
 (3, 4),
 (4, 5),
 (5, 6),
 (6, 7),
 (7, 8),
 (8, 9),
 (9, 10)]

Do the previous example of calculating cubes from 1 to 10, but using enumerate() to track the indice of outputs.

In [93]:
# Refactor the for loop with list comprehension.
cubes = [ i**3 for i in range(1, 11) ]

# Add indices to the new list of cubes with enumerate()
indiced = list(enumerate(cubes))

print(indiced)

[(0, 1), (1, 8), (2, 27), (3, 64), (4, 125), (5, 216), (6, 343), (7, 512), (8, 729), (9, 1000)]

Enumerate can also enable access to iterable's items and index like a tuple. 

e.g. Suppose there were 5 people in the room and each person gets counted.

In [95]:
people = ["Hannah", "Sam", "Mark", "Ruth", "Nolan"]

for count, person in enumerate(people):
    print(count, person)

0 Hannah
1 Sam
2 Mark
3 Ruth
4 Nolan

## .join()

.join() is an inbuilt method that connects elements of a sequence iterable by a user specified string separator. e.g.

Its syntax is:

<separator>.join(<iterable>)

Separate the characters in the phrase, Hello,World! with spaces.

In [99]:
phrase = "Hello,World!"

phrase = " ".join(phrase)

phrase

'H e l l o , W o r l d !'

Join all the string elements of a list together, separated by |

In [101]:
lst = ["Apple", "Pencil", "Sky"]

output = " | ".join(lst)
print(output)

Apple | Pencil | Sky